{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_one in product_po_id.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_one.image.url }}" class="img-fluid" alt="фото товара">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    Наименование товара: {{ product_po_id.name }}
                </h1>
                <div class="">
                    <p>
                        Цена: {{ product_po_id.price }} BYN
                    </p>
                </div>
                <div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Описание
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Доставка
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">Контакты
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            {{ product_po_id.description }}
                        </div>
                        <div class="tab-pane fade product-description-tabs" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <h2>Для уточнения условий доставки позвоните по телефону 937-99-92</h2>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">Наш телефон 937-99-92
                        </div>
                    </div>
                </div>
                <div>
                    <form id="form_buying_product" class="row row-cols-lg-auto g-2 align-items-center"  method="POST" action="{% url 'orders:basket_adding' %}">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label>
                                <input type="number" class="form-control" value="1" name="number" id="number">
                            </label>
                        </div>
                        <div class="form-group mb-2">
                            <button type="submit" id="submit_btn" class="btn btn-warning btn-buy"
                                    data-product_id='{{ product_po_id.id }}'
                                    data-name='{{ product_po_id.name }}'
                                    data-price='{{ product_po_id.price }}'
                            >Добавить в корзину
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}