html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: url("../img/background.jpg");

}

.navbar {
    margin-bottom: 0;
}

.section {
    margin-top: 30px;
}

.section-top {
    margin: 0;

}

.product-item {
    height: 500px;
    background-color: white;
    border: 1px solid #a2ada524;
    position: relative;
    padding: 4px 0 4px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.discount-container {
    position: absolute;
    top: 40%;
    background: hsl(125deg 93% 44%);
    width: 30%;
    color: #f9fefc;
    left: 0;
    font-weight: 900;
}

.section-delivery {
    height: 300px;
    background-color: darkblue;
    text-align: center;
    color: white;
}

.wrapper {

}

.wrapper-content {
    min-height: calc(100vh - 80px);

}

.footer {
    height: 80px;
    background-color: darkblue;
    color: white;
}

.product-description-tabs {
    padding: 10px;
}

.product-image-item {
    margin-bottom: 10px;
    padding: 5px;
}

.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: #1a1e23;
    color: #1a1e23;
    border: none;
    border-radius: 0;
}

.container-fluid {


}

.navbar-main {
    border-radius: 0;
    border: 0;
}


.navbar-brand{
    color: rgb(138 255 0);
}
.form-error{
    color: red;
}

/*div#carousel {*/
/*  perspective: 1200px;*/
/*  background: #100000;*/
/*  padding-top: 10%;*/
/*  font-size:0;*/
/*  margin-bottom: 3rem;*/
/*  overflow: hidden;*/
/*}*/
/*figure#spinner {*/
/*  transform-style: preserve-3d;*/
/*  height: 300px;*/
/*  transform-origin: 50% 50% -500px;*/
/*  transition: 1s;*/
/*}*/
/*figure#spinner img {*/
/*  width: 40%; max-width: 425px;*/
/*  position: absolute; left: 30%;*/
/*  transform-origin: 50% 50% -500px;*/
/*  outline:1px solid transparent;*/
/*}*/
/*figure#spinner img:nth-child(1) { transform:rotateY(0deg);*/
/*}*/
/*figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }*/
/*figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }*/
/*figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }*/
/*figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }*/
/*figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }*/
/*figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }*/
/*figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }*/
/*div#carousel ~ span {*/
/*  color: #fff;*/
/*  margin: 5%;*/
/*  display: inline-block;*/
/*  text-decoration: none;*/
/*  font-size: 2rem;*/
/*  transition: 0.6s color;*/
/*  position: relative;*/
/*  margin-top: -6rem;*/
/*  border-bottom: none;*/
/*  line-height: 0; }*/
/*div#carousel ~ span:hover { color: #888; cursor: pointer; }*/

/*!*.basket-container{*!*/
/*!*    position: relative;*!*/
/*!*}*!*/
/*!*.basket-items{*!*/
/*!*    position: absolute;*!*/
/*!*    top: 0%;*!*/
/*!*    width: 100%;*!*/
/*!*}*!*/



